.go-top {
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 9999;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 22px;
    background: #bfbfbf;
    color: #151515;
    cursor: pointer;
    border-radius: 0px;
    display: none;

    &:hover {
        background: #e9ebec;
    }
}


.go-top-show {
    display: block;
}
