/* scss */
@font-face {
    font-family: 'CenturyGothicCustom';
    src: url('../fonts/CenturyGothicCustom.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@import 'head';
@import 'navbar';
@import 'gotop';
@import 'body';
@import 'footer';
