/* scss */
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'CenturyGothicCustom';
    src: url('fonts/CenturyGothicCustom.ttf');
}

@import 'head';
@import 'navbar';
@import 'gotop';
@import 'body';
@import 'footer';
