/* _global.scss START */

/* Global */
body,
html {
    background: #333333;
    /* font-size: 18px; */
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

/* Headings */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

/* Links */
a {
    transition: 0.35s all;
}

/* Section */
section {
    position: relative;
}

/* hr in footer */
hr {
    margin: 7px;
    border: 1px solid rgba(128, 128, 128, 0.555);
    border-radius: 1px;
}


.note {
    border-left: 5px solid;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: rgb(44, 44, 44);
    color: #868686d0;
    font-size: 16px;
}

.atom-ancor {
    position: absolute;
}