// Bootstrap
@import "bootstrap/bootstrap.scss";
@import "bootstrap/bootstrap-grid.scss";
@import "bootstrap/bootstrap-reboot.scss";

/* ATOM Styles */
@import "bootstrap_edits";
@import "global";
@import "body";
@import "footer";