/* Bootstrap edits */
.container,
.container-fluid {
    padding: 0;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0;
}

.col {
    padding: 0;
}


.navbar {
    background: #292929;
}

.navbar img {
    max-width: 48px;
    padding-right: 7px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .685);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .95);
}

.navbar-toggler {
    border: none;
}


.btn {
    border-radius: 0;
    margin-top: 16px;
    margin-bottom: 8px;
    box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 0.225);
}

.btn:hover {
    box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 0.325);
}

.carousel {
    margin-bottom: 8px;
    box-shadow: 7px 7px 0px 2px rgba(0, 0, 0, 0.247);
}

.carousel-caption {
    padding-right: 14px;
    padding-left: 14px;
    background: rgba(39, 39, 39, 0.651);
}

.card {
    border: none;
    margin-top: 2rem;
}


/* Global */
a {
    transition: 0.35s all;
}

body,
html {
    background: #333333;
    /* font-size: 18px; */
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

.additional-text {
    border-left: 5px solid;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: rgb(44, 44, 44);
    color: #868686d0;
    font-size: 16px;
}

.atom-ancor {
    position: absolute;
}

section {
    position: relative;
}




/* Body */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}


/* About */
.about {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-left: 5%;
    background: rgba(37, 37, 37, 0.308);
}


/* Works */
.works {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-left: 5%;
}


.works2-1 {
    margin-bottom: 35px;
    background: rgba(37, 37, 37, 0.212);
    box-shadow: 12px 12px 0px 3px rgba(0, 0, 0, .2);
}

.works2 {
    margin-bottom: 45px;
    background: rgba(37, 37, 37, 0.212);
    box-shadow: 12px 12px 0px 3px rgba(0, 0, 0, .2);
}

.works_pres {
    margin-top: 10px;
    margin-bottom: 10px;
}

.works_pres img {
    text-align: center;
}

.norm {
    color: rgba(223, 67, 67, 0.788);
}

.ntlh {
    color: rgba(223, 142, 67, 0.788);
}

.btn-ntlh {
    background: rgba(223, 142, 67, 0.788);
}

.btn-ntlh:hover {
    background: rgba(189, 119, 53, 0.788);
}

.btss {
    color: rgba(135, 67, 223, 0.788);
}

.btn-btss {
    background: rgba(135, 67, 223, 0.788);
}

.btn-btss:hover {
    background: rgba(107, 52, 179, 0.788);
}

.ftlf {
    color: rgba(67, 135, 223, 0.788);
}

.btn-ftlf {
    background: rgba(67, 153, 223, 0.788);
}

.btn-ftlf:hover {
    background: rgba(52, 118, 179, 0.788);
}

.works_info {
    margin-top: 15px;
    margin-bottom: 10px;
}

.works_info-socials {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.works_info-socials i {
    color: white;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.works_info-socials i:hover {
    transition: all 0.35s;
    color: gray;
}

.works-github::after {
    display: block;
    text-align: center;
    font-size: 14px;
    content: "Репозиторий GitHub";
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.works-vk::after {
    display: block;
    text-align: center;
    font-size: 14px;
    content: "Паблик ВКонтакте";
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.works-youtube::after {
    display: block;
    text-align: center;
    font-size: 14px;
    content: "Тизер";
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.works_info-socials a:hover #works-github {
    transition: all 0.5s;
    color: #171515;
}

.works_info-socials a:hover #works-discord {
    transition: all 0.5s;
    color: #7389DC;
}

.works_info-socials a:hover #works-vk {
    transition: all 0.5s;
    color: #4A76A8;
}

.works_info-socials a:hover #works-youtube {
    transition: all 0.5s;
    color: #FF0000;
}


/* Team */
.team {
    padding-top: 1%;
    padding-bottom: 2rem;
    padding-right: 5%;
    padding-left: 5%;
    background: rgba(37, 37, 37, 0.308);
}

.team a {
    color: red;
    text-decoration: none;
}

.team a:hover {
    color: rgb(170, 5, 5);
}


.team-member-card {
    padding-top: 25px;
    transition: 0.35s all;
    background: #2e2e2e;
    box-shadow: 8px 8px 0px 2px rgba(0, 0, 0, 0.4);
}

.team-member-card:hover {
    background: #292929;
    box-shadow: 8px 8px 0px 2px rgba(0, 0, 0, .6);
}

.card-img-top {
    margin-bottom: 12px;
    width: 85%;
}

details summary:after {
    content: "RusFeniks отличается особым трудолюбием";
    color: rgb(206, 71, 71);
}

/* Footer */
footer {
    background: #303030;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer_wrapper {
    margin-left: 2%;
    margin-right: 2%;
}

.footer_slogan {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
}

.footer_social-title {
    margin-bottom: 0.5rem;
    font-size: 24px;
}

.footer_social i {
    color: gray;
    font-size: 28px;
    padding: 0.2rem;
    padding-bottom: 0.5rem;
}

.footer_social a:hover #footer-github {
    transition: all 0.5s;
    color: #171515;
}

.footer_social a:hover #footer-discord {
    transition: all 0.5s;
    color: #7389DC;
}

.footer_social a:hover #footer-vk {
    transition: all 0.5s;
    color: #4A76A8;
}

.footer_social a:hover #footer-youtube {
    transition: all 0.5s;
    color: #FF0000;
}

.footer_copyrights {
    margin-bottom: 1.5%;
}

hr {
    margin: 7px;
    border: 1px solid rgba(128, 128, 128, 0.555);
    border-radius: 1px;
}

#favoras {
    color: #b11aa9;
}

#favoras:hover {
    background: rgb(245, 130, 229);
    color: black;
}