/* _body.scss */
$txt-clr: #e0e0e0;

body {
    background-color: #444444;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.yakor {
    position: relative; 
}

#text {
    width: 95%;
    font-family: 'OpenSans-Regular', "Verdana", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-bottom: 50px;
    color: $txt-clr;

    a {
        &:link {
            color: red;
        }

        &:visited {
            color: #818181;
        }

        &:active {
            color: #fff500;
        }
    }

    &:after {
        content: '';
        display: block;
        width: 90%;
        height: 2px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        ;
        margin-bottom: 50px;
        background-color: #ffffff;
        /*#a24040;*/
        /*  #ff5400; */
    }
}

h1 {
    text-align: center;
    font-family: 'Roboto-Medium', Century Gothic;
    margin-left: auto;
    margin-right: auto;
    color: $txt-clr;
}

h3 {
    color: $txt-clr;
}

hr {
    border: none;
    border-top: 3px double #d9d9d9;
    color: #333;
    overflow: visible;
    height: 1px;
}

.hr-main {
    border-top: 1px solid #838383;
    color: #333;
    overflow: visible;
    height: 1px;
}

hr:after {
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -13px;
}

details summary {
    outline: none;

    &::after {
        content: "Посмотреть как работает RusFeniks";
    }
}

details[open] summary::after {
    content: "Ну нахер";
}

#social-img {
    display: inline-block;
    vertical-align: baseline;
    max-width: 7em;
    height: auto;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px;
    transition: 0.9s all;

    &:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
}
