/* _header.scss */
$logo-txt-clr: #e0e0e0;

header {
    margin-top: 79px;
}

#logo {
    display: block;
    float: left;
    padding-left: 25px;
    padding-bottom: 10px;
}

#logo-text-1 {
    font-display: fallback;
    font-size: 175%;
    font-family: 'CenturyGothicCustom', "Century Gothic", normal;
    color: $logo-txt-clr;
}

#logo-text-2 {
    font-display: auto;
    font-size: 110%;
    color: $logo-txt-clr;
}
