/* _navbar.scss */

.navbar {
    top: 0;
    background-color: #333;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
}

.nav {
    & > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        margin: 0;
        padding: 0;

        & > li {
            color: #f2f2f2;
            cursor: pointer;
            display: inline-block;
            padding: 10px;
            min-width: 150px;
            height: 30px;
            text-align: center;
            color: #eee;

            &:hover {
                background: #ddd;
                color: black;
            }

            & > a {
                color: #f2f2f2;
                text-align: center;
                font-family: 'CenturyGothicCustom', Century Gothic;
                text-decoration: none;
                transition: 0.5s all;

                &:hover {
                    color: black;
                }
            }
        }
    }
}
