/* scss */
@font-face {
    font-family: 'CenturyGothicCustom';
    src: url('../fonts/CenturyGothicCustom.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}

img {
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

@import 'head';
@import 'navbar';
@import 'gotop';
@import 'body';
@import 'footer';
